.title,
.links {
    font-family: 'Courier New', Courier, monospace;
}

.title {
    font-size: 60px;
    text-align: center;
    background-color: rgb(231, 59, 59);
}

.links {
    font-size: 25px;
}

img {
    height: auto;
    width: 400px;
}

.body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: large;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

body {
    background-color: chocolate;
}